.average-rating {
  margin: 1px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.stars {
  background-clip: text;
}
