<div class="terms-and-conditions-container">
  <h1>TERMENI SI CONDITII</h1>

  <h2>
    <ol>
      <li>
        <strong>Prevederi generale</strong>
      </li>
    </ol>
  </h2>

  <p
    >Marity (in continuare &ldquo;Marity&rdquo;, &ldquo;platforma Marity&rdquo; sau
    &ldquo;Marity.ro&rdquo;) este platforma disponibila la adresa de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >, care este detinuta si administrata de Societatea Comerciala Citizens of Technology SRL (in
    continuare &ldquo;CoT&rdquo;), persoana juridica inregistrata in Romania sub codul fiscal
    45383178 , cu sediul social in Romania, Municipiul Husi, Judetul Vaslui, Str. General Teleman
    nr. 9.</p
  >

  <p>Marity se adreseaza urmatoarelor categorii de utilizatori:</p>

  <ul>
    <li
      ><strong>Vizitatori</strong>, utilizatori neinregistrati care viziteaza adresa de internet
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      >
      de pe orice terminal fix sau mobil, conectat la internet si care indeplineste caracteristicile
      tehnice necesare navigarii si utilizarii facilitatilor puse la dispozitie.</li
    >
    <li
      ><strong>Consumator (B2C), </strong>utilizatori inregistrati care viziteaza si utilizeaza
      adresa de internet
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      >
      de pe orice terminal fix sau mobil, conectat la internet si care indeplineste caracteristicile
      tehnice necesare navigarii si utilizarii facilitatilor puse la dispozitie, sau care descarca
      aplicatia mobila Marity disponibila in AppStore si GooglePlay.</li
    >
    <li
      ><strong>Clienti business (B2B), </strong>utilizatori inregistrati care publica, in scop
      comercial si de marketing, informatii si materiale proprii intr-o sectiune dedicata a
      platformei Marity, utilizand aplicatia mobila Marity Business disponibila in AppStore si
      GooglePlay.</li
    >
  </ul>

  <p
    >Indiferent de categoria din care fac parte, utilizatorii isi exprima acordul de a utiliza
    platforma Marity, disponibila la adresa de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >, cat si aplicatiile mobile Marity si Marity Business in deplina conformitate cu prezentul
    regulament de utilizare.</p
  >

  <p
    >Marity nu este parte a eventualelor tranzactii intre Vizitatori, Consumatori si Clientii
    Business. De aceea, Marity nu garanteaza asupra acuratetii datelor oferite intre parti, nu
    controleaza, nu monitorizeaza si nu garanteaza interactiunea acestora.</p
  >

  <p
    >Detinatorul platformei Marity este liber sa modifice si sa actualizeze termenii si conditiile
    de utilizare fara nicio notificare prealabila, fiind in sarcina utilizatorilor, de orice fel, sa
    se puna la curent, in mod constant, cu modificarile si actualizarile aparute atat in
    regulamentul de utilizare, cat si in orice alta documentatie pusa la dispozitie la adresa de
    internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >, cat si in aplicatiile mobile Marity si Marity Business.</p
  >

  <p
    >Acceptarea prezentului set de termeni si conditii, cat si a celorlalte documentatii puse la
    dispozitie la adresa de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >, cat si in aplicatiile mobile Marity si Marity Business este exclusiv voluntara,dar necesara
    pentru vizitarea, inregistrarea, navigarea si utilizarea Marity.</p
  >

  <h2>
    <ol start="2">
      <li>
        <strong>Definitii</strong>
      </li>
    </ol>
  </h2>

  <p
    ><strong>Zi</strong> &ndash; zi calendaristica, inseamnand 24 de ore consecutive, incepand de la
    ora 00.00 pana la ora 23.59</p
  >

  <p
    ><strong>Administrator sau Proprietar</strong> &ndash; CoT, prin reprezentantii acreditati ai
    acesteia</p
  >

  <p
    ><strong>Vizitatori</strong>, utilizatori neinregistrati care viziteaza adresa de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >
    de pe orice terminal fix sau mobil, conectat la internet si care indeplineste caracteristicile
    tehnice necesare navigarii si utilizarii facilitatilor puse la dispozitie. Vizitatorii au varsta
    minima de 18 ani.</p
  >

  <p
    ><strong>Consumator (B2C), </strong>utilizatori inregistrati care arata interes fata de
    prestatiile oferite de Clientii Business listati pe platforma Marity si care pot interactiona
    intre ei sau cu Clientii Business, in vederea beneficierii de prestatii ale acestora.
    Consumatorii au varsta minima de 18 ani, versta pe care o vor confirma in procesul de creare a
    unui Cont Consumator.
  </p>

  <p
    ><strong>Clienti business (B2B), </strong>utilizatori inregistrati, profesionisti, prestatori de
    servicii sau furnizori care decid voluntar publicarea unor informatii despre activitatea
    comerciala a acestora (sau Listare), in scopul promovarii generale a activitatii acestora si/sau
    in scopul obtinerii de clienti</p
  >

  <p
    ><strong>Categorie </strong>&ndash; Incadrare tematica, in functie de specificul activitatii
    Clientului Business. Categoriile pot contine sub-categorii, pentru filtrare suplimentara</p
  >

  <p
    ><strong>Inregistrare &ndash; </strong>Procedeu specific, standardizat de catre Marity, pentru
    crearea unui Cont Consumator sau Cont Business.</p
  >

  <p
    ><strong>Cont Consumator (B2C)</strong> &ndash; Set de date, oferite voluntar de catre
    detinatorul contului sau colectate de Marity cu acordul detinatorului contului si stocate de
    Marity, care includ date despre consumator, cat si despre activitatea acestuia pe platforma
    Marity si pe aplicatia Marity.</p
  >

  <p
    ><strong>Cont Business (B2B)</strong> &ndash; Set de date, oferite voluntar de catre detinatorul
    contului sau colectate de Marity cu acordul detinatorului contului si stocate de Marity, care
    includ date despre client, cat si despre activitatea pe platforma Marity si pe aplicatia Marity
    Business.</p
  >

  <p
    ><strong>Validare Cont</strong> &ndash; Procedeu specific de confirmare a crearii contului, prin
    accesarea de catre Consumator a unui email, la adresa de email oferita voluntar de catre
    consumator, sau introducerea unui cod alfanumeric primit, din partea Marity, prin numarul de
    telefon oferit voluntar de catre consumator. Validarea contului conditioneaza deschiderea
    acestuia si utilizarea facilitatilor.</p
  >

  <p
    ><strong>Listare</strong> &ndash; Sectiune dedicata unui profesionist, prestator de servicii sau
    furnizor, incadrata intr-o Categorie, continand informatii de prezentare, materiale foto-video
    si/sau orice alte informatii, publicate in scop comercial sau de promovare de catre Clientul
    Business pentru a fi vizualizate de catre Vizitatori sau Consumatori. Un Cont Business poate
    achizitiona mai multe Listari.</p
  >

  <p
    ><strong>Validare Listare &ndash; </strong>Procedeu specific de verificare a respectarii a
    prevederilor prezentului regulament de utilizare privind Aprobarea continutului. Validarea
    listarii conditioneaza publicarea Listarii pe platforma Marity.</p
  >

  <p
    ><strong>Recenzie (sau Review)</strong> &ndash; procedeu specific de apreciere, de catre
    Consumator, a prestatiei oferite de Clientul Business, dupa ce aceasta s-a consumat. Recenziile
    se supun validarii Marity si sunt afisate in sectiunea Listare a serviciului fata de care au
    fost oferite. Clientii Business pot sesiza recenziile necorespunzatoare prestatiei conform
    procedurii de solutionare a plangerilor si sesizarilor.</p
  >

  <p
    ><strong>Plangere sau Sesizare</strong> &ndash; Activitate specifica a Consumatorului sau a
    Clientului Business de notificare a Marity cu privire la continutul necorespunzator al unei
    Listari, la functionarea defectuoasa a plaformei Marity sau a aplicatiilor mobile, la o recenzie
    oferita sau primita necorespunzator sau necorespunzatoare prestatiei oferite, cat si cu privire
    la orice interactiune cu produsele si serviciile Marity, cu scopul declarat de a le imbunatati
    si de a oferi o experienta adecvata utilizatorilor Marity.</p
  >

  <p
    ><strong>Mesaj de sistem</strong> &ndash; Mesaj, trimis prin Email-ul oferit voluntar de catre
    utilizatori, cat si trimis prin aplicatiile mobile Marity si Marity Business, cu scop de
    informare sau notificare asupra conditiilor de utilizare, produse si servicii Marity sau orice
    alt tip de informatie necesar a fi adus la cunostinta utilizatorului.</p
  >

  <p
    ><strong>Push Notification</strong> &ndash; Notificare, transmisa de Marity catre Consumatori
    sau Clienti Business, cu scop informativ si/sau comercial</p
  >

  <p
    ><strong>Asistenta clienti</strong> &ndash; Serviciu oferit de Marity utilizatorilor, in vederea
    oferirii de asistenta, cu scopul declarat de imbunatatire a produselor si serviciilor Marity,
    cat si de oferire a unei experiente optime de navigare si utilizare
  </p>

  <p
    ><strong>Contract de la distanta</strong> &ndash; Contract, incheiat in temeiul OG 130/2000,
    intre Marity si Clientii Business, in vederea prestarii unor servicii de listare si promovare,
    conform conditiilor comerciale pentru Serviciile platite.</p
  >

  <h2>
    <ol start="3">
      <li
        ><strong>Inregistrare, navigare si utilizare</strong>

        <ol>
          <li><u>Contul</u></li>
        </ol>
      </li>
    </ol>
  </h2>

  <p
    >Contul reprezinta setul de date oferite voluntar de utilizator sau colectate, cu acordul
    utilizatorului si stocate de Marity cu scopul de a asigura functionalitatile gratuite, respectiv
    achizitionate de utilizatori. Conturile sunt impartite in functie de categoriile de utilizator,
    dupa cum urmeaza:</p
  >

  <ul>
    <li
      ><strong>Cont Consumator</strong>, destinat persoanelor fizice care arata interes fata de
      produselor, serviciile si, in general, prestatiile Clientilor Business. Conturile consumator
      sunt disponibil a fi inregistrate in platforma Marity sau in aplicatia mobila Marity.</li
    >
    <li
      ><strong>Cont Business</strong>, destinat persoanelor juridice sau fizice, profesionisti,
      furnizori de produse si servicii care doresc publicarea, in scop comercial sau de promovare, a
      unor informatii, in cadrul unor sectiuni dedicate ale platformei Marity, numite
      &ldquo;Listari&rdquo;. Un cont business poate achizitiona una sau mai multe listari. De
      asemenea, Contul Business este destinat utilizatorilor, persoane fizice sau juridice, care
      doresc accesul la aplicatia mobila si web Marity Business, in vederea utilizarii uneltelor de
      planificare si gestionare a afacerii disponibile. Conturile consumator sunt disponibil a fi
      inregistrate in platforma Marity sau in aplicatia mobila Marity Business.</li
    >
  </ul>

  <p>Inregistrarea unui cont este posibila prin parcurgerea urmatorilor pasi:</p>

  <ul>
    <li
      >Cont Consumator: Completarea formularului continand Numele, Prenumele, , Confirmarea varstei
      de peste 18 ani, Numarul de telefon, Adresa de Email, Parola aleasa, si, dupa caz, daca este
      cunoscuta, data estimata a evenimentului fata de care utilizatorul este in cautarea unor
      profesionisti furnizori</li
    >
    <li
      >Cont Business: Completarea formularului continand Numele, Prenumele, Confirmarea varstei de
      peste 18 ani, Numarul de telefon, Emailul si Parola aleasa.
    </li>
  </ul>

  <p
    >Nota: Pentru inregistrarea unui cont poate fi efectuata prin furnizorii externi de servicii,
    cum ar fi Facebook, Google, Instagram, LinkedIn, etc.</p
  >

  <p
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Validarea contului este voluntara, dar necesara pentru inregistrarea contului. Validarea
    contului consta in primirea pe numarul de telefon sau pe adresa de email declarate in formularul
    de inregistrare a unui cod alfanumeric sau a unui link pe care utilizatorul, in mod voluntar, il
    acceseaza sau il introduce in platforma Marity. Urmare a aceste actiuni, contul se considera
    validat, iar functiile disponibile sunt deblocate.</p
  >

  <p
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <em>Drepturile si obligatiile utilizatorilor la crearea contului</em>
  </p>

  <p
    ><strong
      >Cont Consumator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </strong>
  </p>

  <p
    >Utilizatoul are obligatia de a introduce date reale, corecte si actuale, fiind in
    responsabilitatea acestuia verificarea acuratetii datelor introduse, inainte de crearea
    contului. Actualizarea ulterioara a datelor introduse la crearea contului este posibila, prin
    accesarea serviciului de relatii cu clientii.</p
  >

  <p
    >Utilizatorul are obligatia de actiona cu buna credinta, in scopul declarat de a obtine
    informatii, oferte si/sau orice alte informatii in vederea satisfacerii propriilor interese.
    Este interzisa orice manifestare care contravine prezentului regulament.
  </p>

  <p
    >Utilizatorl are obligatia utilizarii sistemului de recenzare cu buna credinta, in deplina
    concordanta cu experienta avuta si in direct raport cu prestatia operatorului economic caruia ii
    este adresata recenzia. Este interzisa prezentarea unor opinii, recenzii sau informatii de orice
    alt tip care reprezinta punctul de vedere al unui operator economic concurent unui alt
    profesionist furnizor, cu scopul denigrarii operatorului economic caruia ii este adresata
    opinia/recenzia/informatia sau cu scopul promovarii oricarui operator economic concurent.</p
  >

  <p
    >Utilizatorul are obligatia motivarii recenziei oferite, atunci cand alege voluntar sa o ofere
    unui operator economic, ulterior prestatiei acestuia.</p
  >

  <p
    >Un utilizator are dreptul la crearea unui singur cont. Este interzisa crearea de conturi
    multiple destinate unui singur utilizator, acest lucru atragand suspendarea unilaterala, de
    catre Marity, a tuturor conturilor descoperite a fi deschise cu incalcarea acestei reguli.
  </p>

  <p
    >Utilizatorul are dreptul de a sterge, definitiv si ireversibil, contul creat, prin utilizarea
    functiei disponibile in aplicatia Marity si in platforma Marity.</p
  >

  <p
    >Marity are dreptul stergerii Contului Consumator neaccesat pentru o perioada mai lunga de 12
    luni calendaristice consecutive., cu notificarea prealabila a utilizatorului.
  </p>

  <p
    >Marity are dreptul suspendarii, respectiv a stergerii Contului Consumator al utilizatorului
    care nu actioneaza conform prezentului regulament. Stergerea Contului Consumator se produce
    automat la depasirea unui numar de 2 abateri de la prezentul regulament.</p
  >

  <p><strong>Cont Business</strong></p>

  <p
    >Utilizatoul are obligatia de a introduce date reale, corecte si actuale, fiind in
    responsabilitatea acestuia verificarea acuratetii datelor introduse, inainte de crearea
    contului. Actualizarea ulterioara a datelor introduse la crearea contului este posibila, prin
    accesarea serviciului de relatii cu clientii.</p
  >

  <p
    >Un utilizator are dreptul la crearea unui singur cont. Este interzisa crearea de conturi
    multiple destinate unui singur utilizator, acest lucru atragand suspendarea unilaterala, de
    catre Marity, a tuturor conturilor descoperite a fi deschise cu incalcarea acestei reguli.
  </p>

  <p
    >Utilizatorul are dreptul de a sterge, definitiv si ireversibil, contul creat, prin utilizarea
    functiei disponibile in aplicatia Marity si in platforma Marity.</p
  >

  <p
    >Un Cont Business poate achizitiona, detine si administra, oricate Listari de pe acelasi
    cont.</p
  >

  <p
    >Un Cont Business poate inceta, in orice moment, relatiile comerciale cu CoT, numai in
    conditiile contractului de la distanta semnat, sau dupa ajungerea acestuia la termenul
    scadent.</p
  >

  <p
    >Un Cont Business poate inceta, in orice moment, relatiile comerciale cu Cot, in conditiile
    modificarii prezentului Regulament in sectiunile dedicate Conturilor Business, prin notificarea
    prealabila in platforma Marity sau in aplicatia Marity Business. Orice modificare a prezentului
    regulament nereclamata in termen de 5 zile de la notificarea Marity se considera acceptata si
    asimilata de catre Contul Business.</p
  >

  <p
    >&Icirc;n termen de 14 zile de la &icirc;ncheierea contractului de la distanta cu CoT, un
    consumator se poate retrage dintr-un astfel de contract, fără a oferi niciun motiv pentru
    aceasta, prin transmiterea unei notificări la adresa email:&nbsp;contact&#64;marity.ro&nbsp;sau
    &icirc;n scris, la adresa poștală a Furnizorului. &Icirc;n momentul retragerii din contractul
    privind serviciile de Cont, celelalte contracte &icirc;ncheiate &icirc;ntre CoT și Utilizator
    expiră. Notificarea, in acest caz, nu presupune formular standardizat, fiind conceptia proprie a
    utilizatorului, cu conditia transmiterii notificarii de incheiere a conditiilor comerciale.</p
  >

  <p
    >Marity are dreptul suspendarii contului, impreuna cu listarile asociate contului, pentru
    incalcarea prezentului regulament. Marity are dreptul stergerii definitive si ireversibile a
    contului la depasirea unui numar de 3 abateri de la prezentul regulament.</p
  >

  <ol>
    <li style="list-style-type: none">
      <ol start="2">
        <li><u>Functii disponibile</u></li>
        <li><u>Listarea. Validarea listarii</u></li>
      </ol>
    </li>
  </ol>

  <p
    >Listarea reprezinta actiunea unui utilizator, detinator de Cont Business, de a completa
    formularul de listare disponibil in aplicatia Marity Business. Prin completarea formularului,
    Contul Business va publica pe pagina de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >, cat si in aplicatia mobila Marity, informatii despre o activitate comerciala a acestuia, cu
    scopul de a o promova.</p
  >

  <p
    >Listarea reprezinta o pagina dedicata activitatii comerciale a Contului Business. Activitatea
    poate fi incadrata intr-una din urmatoarele categorii:</p
  >

  <ul>
    <li>Organizator de evenimente</li>
    <li>Muzica</li>
    <li>Foto-Video</li>
    <li>Invitatii de nunta</li>
    <li>Haine si accesorii</li>
    <li>Transport</li>
    <li>Efecte speciale</li>
    <li>Wedding planneri profesionisti</li>
  </ul>

  <ol>
    <li style="list-style-type: none">
      <ol start="4">
        <li><u>Interactiunea intre utilizatori. Comunicarea</u></li>
        <li><u>Cerinte tehnice minime</u></li>
        <li><u>Sistemul de evaluare. Recenzii</u></li>
      </ol>
    </li>
  </ol>

  <ol start="4">
    <li><strong>Drepturi de autor</strong></li>
    <li
      ><strong>Servicii platite. Politica de pret</strong>
      <ol>
        <li><u>Lista de preturi</u></li>
        <li><u>Incheierea contractului de la distanta</u></li>
        <li><u>Facturare si plata</u></li>
        <li><u>Recurenta</u></li>
        <li><u>Rambursare</u></li>
        <li><u>Promotii. Discount</u></li>
      </ol>
    </li>
  </ol>

  <ol start="6">
    <li
      ><strong>Asistenta utilizatori</strong>

      <ol>
        <li><u>Asistenta proactiva. FAQ</u></li>
        <li><u>Solutionarea plangerilor si sesizarilor</u></li>
      </ol>
    </li>
  </ol>

  <ol start="7">
    <li
      ><strong>Prevederi finale</strong>

      <ol>
        <li><u>Exonerarea de raspundere</u></li>
        <li><u>Datele personale</u></li>
        <li><u>Programul &ldquo;Maritree&rdquo;</u></li>
      </ol>
    </li>
  </ol>

  <p
    >Citizens Of Technology, prin Marity, sustin tintele de neutralitate climatica si de dezvoltare
    sustenabila. Prin utilizarea platformei Marity, fiecare utilizator contribuie la scaderea
    emisiilor de gaze cu efect de sera, contribuind la asigurarea unui climat propice generatiilor
    ce vor urma.</p
  >

  <ul>
    <li
      >Scaderea consumului de combustibil fosil, prin reducerea la minim a drumurilor catre
      furnizorii de produse si servicii, pentru intalniri, prezentari si angajamente
      contractuale</li
    >
    <li
      >Scaderea consumului de hartie, prin crearea posibilitatii semnarii contractelor de la
      distanta</li
    >
  </ul>

  <p
    >In plus, pe langa beneficiile evidente derivate din utilizarea Marity, Citizens Of Technology
    isi asuma un rol activ pentru atingerea tintelor de mediu. De aceea, pentru fiecare listare
    publicata cu succes pe pagina de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >
    si in aplicatia mobila Marity, Citizens of Technology va plata un pom, in vederea construirii
    Padurii &ldquo;Maritree&rdquo;.
  </p>

  <ol>
    <li style="list-style-type: none">
      <ol start="4">
        <li><u>Forta majora</u></li>
      </ol>
    </li>
  </ol>

  <p style="margin-left: 24px">&nbsp;</p>

  <ol start="8">
    <li><strong>Legislatie aplicabila</strong></li>
  </ol>

  <p
    >Vizitarea, navigarea, inregistrarea si utilizarea platformei Marity, cat si a aplicatiilor
    mobile Marity si Marity Business vor fi efectuate cu respectarea legislatiei din Romania, cu
    referire, dar fara a se referi la:</p
  >

  <ul>
    <li>Codul Civil aplicabil in anul utilizarii </li>
    <li
      >Ordonanţa Guvernului nr. 99/2000 privind comercializarea produselor şi serviciilor pe
      piaţă</li
    >
    <li
      >Legea nr. 193/2000 privind clauzele abuzive din contractele &icirc;ncheiate &icirc;ntre
      profesionişti şi consumatori
    </li>
    <li>Legea nr. 356/2002 privind comerţul electronic </li>
    <li
      >Hotăr&acirc;rea Guvernului nr. 1308/2002 privind aprobarea normelor metodologice pentru
      aplicarea Legii nr. 356/2002 privind comerţul electronic</li
    >
    <li>Legea nr. 449/2003 privind v&acirc;nzarea produselor şi garanţiilor asociate acestora</li>
    <li
      >Legea nr. 506/2004 privind prelucrarea datelor cu caracter personal şi protecţia vieţii
      private &icirc;n sectorul comunicaţiilor electronice</li
    >
    <li
      >Ordonanţa de Urgenţă a Guvernului nr. 34/2014 privind drepturile consumatorilor &icirc;n
      cadrul contractelor &icirc;ncheiate cu profesioniştii şi pentru modificarea şi completarea
      unor acte normative</li
    >
    <li>Legea nr. 8/1996 privind dreptul de autor și drepturile conexe </li>
  </ul>
</div>
