<div class="privacy-container">
  <h1>POLITICA DE CONFIDENTIALITATE</h1>

  <p
    >Va rugam sa lecturati cu atentie politica de confidentialitate inainte de a incepe sa utilizati
    serviciile oferite de platforma Marity.</p
  >

  <p>Cuprins:</p>

  <ol style="list-style-type: upper-roman">
    <li>Cine sunem?</li>
    <li>Ce date colectam legate de persoana dumneavoastra?</li>
    <li>Care sunt motivele pentru care prelucram datele dumneavoastra cu caracter personal</li>
    <li>In ce mod prelucram datele dumneavoastra?</li>
    <li>Unde si cat timp pastram datele dumneavoastra?</li>
    <li>Cu cine impartasim datele dumneavoastra?</li>
    <li>Cum asiguram securitatea datelor dumneavoastra?</li>
    <li>Drepturile dumneavoastra</li>
    <li>Autoritatea pentru protectia datelor</li>
  </ol>

  <h2>
    <ol style="list-style-type: upper-roman">
      <li><strong>Cine suntem?</strong></li>
    </ol>
  </h2>

  <p
    >Marity (in continuare &ldquo;Marity&rdquo;, &ldquo;platforma Marity&rdquo; sau
    &ldquo;Marity.ro&rdquo;) este platforma disponibila la adresa de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >, care este detinuta si administrata de Societatea Comerciala Citizens of Technology SRL (in
    continuare &ldquo;CoT&rdquo;), persoana juridica inregistrata in Romania sub codul fiscal
    45383178 , cu sediul social in Romania, Municipiul Husi, Judetul Vaslui, Str. General Teleman
    nr. 9.</p
  >

  <p
    >Marity se imparte in trei subunitati distincte, dar care comunica intre ele si impartasesc
    date:</p
  >

  <ul>
    <li
      >Platforma Marity, disponibila la adresa de internet
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      ></li
    >
    <li
      >Aplicatia mobila Marity Business, disponibila la adresa de internet
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      >
      si in Google Play si AppStore</li
    >
    <li
      >Aplicatia mobila Marity 360 Planner, la adresa de internet
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      >
      si in Google Play si AppStore</li
    >
  </ul>

  <p>Prezenta politica de confidentialitate este aplicabila tuturor celor trei subunitati.</p>

  <p>Putem fi contactati in orice moment la:</p>

  <p>Adresa postala: Str. General Teleman nr. 9, Municipiul Husi, Judetul Vaslui</p>

  <p>Telefon: +40 771 106 202 </p>

  <p
    >Email:
    <a href="mailto:contact@marity.ro" style="color: #0563c1; text-decoration: underline"
      >contact&#64;marity.ro</a
    >
  </p>

  <p>&nbsp;</p>

  <p
    >Societatea Comerciala Citizens of Technology SRL (in continuare &ldquo;CoT&rdquo;) a numit un
    responsabil de date cu caracter personal. Pentru orice &icirc;ntrebări sau nelămuriri legate de
    prezenta Politică, de modul &icirc;n care CoT colecteaza si prelucrează datele tale sau despre
    drepturile tale, ne poți contacta la adresa de e-mail dedicată
    <a href="mailto:datepersonale@marity.ro" style="color: #0563c1; text-decoration: underline"
      >datepersonale&#64;marity.ro</a
    >
    sau folosind datele de contact sus amintite.</p
  >
  <h2>
    <ol start="2" style="list-style-type: upper-roman">
      <li><strong>Ce date colectam legate de persoana dumneavoastra?</strong></li>
    </ol>
  </h2>
  <ol>
    <li><em>Date colectate urmare a unei vizite in format vizitator neinregistrat</em></li>
  </ol>

  <p
    >Conform Termenilor si conditiilor de utilizare ale Marity, vizita in format neinregistrat se
    adreseaza urmatoarelor categorii de utilizatori:</p
  >

  <ul>
    <li
      ><strong>Vizitatori</strong>, utilizatori neinregistrati care viziteaza adresa de internet
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      >
      de pe orice terminal fix sau mobil, conectat la internet si care indeplineste caracteristicile
      tehnice necesare navigarii si utilizarii facilitatilor puse la dispozitie.</li
    >
  </ul>

  <p
    >In momentul in care vizitati
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >
    este posibil ca noi sa colectam urmatoarele date, in mod automat, despre dumneavoastra:</p
  >

  <ul>
    <li>Adresa dumneavoastra IP</li>
    <li>Furnizorul dumneavoastra de servicii de internet</li>
    <li>Tara din care accesati pagina de internet</li>
    <li>Regiunea si orasul din care accesati pagina de internet</li>
    <li>Tipul si versiunea browserului pe care il utilizati</li>
    <li>Geolocatia furnizata de browser</li>
    <li>Tipul si versiunea terminalului de pe care accesati pagina de internet</li>
    <li>Sistemul de operare folosit</li>
    <li
      >Optiuni de accesibilitate: Fonturi utilizate, formate audio video disponibile, setari privind
      limba utilizata</li
    >
  </ul>

  <p style="margin-left: 24px"
    >Datele sunt colectate la accesarea paginii de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >
    si stocate intr-un &ldquo;cookie&rdquo; la apasarea butonului &ldquo;Accept cookie&rdquo; sau
    similar. Selectia &ldquo;Accept cookie&rdquo; sau similar este valabila 24 de ore de la apasarea
    butonului, la accesarea fara inregistrare a paginii de internet. La apasarea butonului
    &ldquo;Refuz cookie&rdquo; sau similar sesiunea este terminata si datele nu sunt colectate.</p
  >

  <p style="margin-left: 24px"
    >Colectam informatii referitoare la activitatea dumneavoastra pe
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >
    :
  </p>

  <ul>
    <li>Date privind cautarile dumneavoastra si optiunile (filtrele) de cautare folosite</li>
    <li>Date privind paginile vizitate, ordinea vizitarii, si timpul petrecut pe acestea</li>
    <li>Date privind click-urile pe butoane, link-uri, bannere si altele asemenea</li>
    <li>Date privind timpul petrecut in sesiune</li>
    <li
      >Date privind modalitatea prin care ati ajuns pe
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      ></li
    >
  </ul>

  <p
    >Fisiere de tip &ldquo;cookie&rdquo;:&nbsp; Utilizam fisierele de tip &ldquo;cookie&rdquo;
    conform
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >Politicii fisierelor de tip cookie si tehnologii similare</a
    >
    pe care va invitam sa o lecturati accesand link-ul. Puteti seta browserul dumneavoastra pentru a
    respinge orice fisier de tip cookie sau pentru a va anunta de posibilitatea setarii unui astfel
    de fisier. Va notificam asupra faptului ca neacceptarea fisierelor de tip cookie face imposibila
    utilizarea functionalitatilor
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline">Marity</a>.
  </p>

  <p
    >Datele minorilor: Conform Termenilor si conditiilor de utilizare, pagina de internet
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
      >www.marity.ro</a
    >
    si aplicatiile mobile Marity Business si Marity 360 sunt destinate persoanelor care au implinit
    varsta de 18 ani. Nu sunt, asadar, colectate date de la persoane care nu au implinit 18 ani.</p
  >

  <ol start="2">
    <li><em>Date colectate urmare a unei vizite in format inregistrat</em></li>
  </ol>

  <p
    >Conform Termenilor si conditiilor de utilizare ale Marity, vizita in format inregistrat se
    adreseaza urmatoarelor categorii de utilizatori:</p
  >

  <p
    ><strong>Consumator (B2C), </strong>utilizatori inregistrati care arata interes fata de
    prestatiile oferite de Clientii Business listati pe platforma Marity si care pot interactiona
    intre ei sau cu Clientii Business, in vederea beneficierii de prestatii ale acestora.
    Consumatorii au varsta minima de 18 ani, varsta pe care o vor confirma in procesul de creare a
    unui Cont Consumator.
  </p>

  <p
    ><strong>Clienti business (B2B), </strong>utilizatori inregistrati, profesionisti, prestatori de
    servicii sau furnizori care decid voluntar publicarea unor informatii despre activitatea
    comerciala a acestora (sau Listare), in scopul promovarii generale a activitatii acestora si/sau
    in scopul obtinerii de clienti</p
  >

  <p
    >Pe langa toate datele colectate si prevazute la punctul 1
    <em>Date colectate urmare a unei vizite in format vizitator neinregistrat, </em>este posibil ca
    noi sa colectam urmatoarele date, in mod automat, despre dumneavoastra:</p
  >

  <ul>
    <li>Emailul dumneavoastra</li>
    <li>Nume, Prenume</li>
    <li
      >Numele companiei pe care doriti sa o inregistrati, numele afacerii pe care doriti sa o
      publicati, cat si datele de identificare si de contact ale acesteia</li
    >
  </ul>

  <p
    >In cazul in care utilizati pentru logare un cont Google, este posibil ca noi sa colectam
    urmatoarele date despre dumneavoastra:</p
  >

  <ul>
    <li
      >numele și prenumele, adresa de email și URL-ul către fotografia dvs. de pe profilul
      Google;</li
    >
  </ul>

  <h2>
    <ol start="3" style="list-style-type: upper-roman">
      <li
        ><strong
          >Care sunt motivele pentru care prelucram datele dumneavoastra cu caracter
          personal?</strong
        ></li
      >
    </ol>
  </h2>

  <p
    >Va vom informa tot timpul despre imprejurarile in care vom colecta date despre dumneavoastra si
    scopul cu care acestea sunt colectate, conform legii. Vom utiliza datele dumneavoastra in
    urmatoarele imprejurari:</p
  >

  <ul>
    <li>Supravegherea activitatii tuturor categoriilor de utilizatori </li>
    <li>Imbunatatirea serviciilor oferite</li>
    <li>Imbunatatirea securitatii serviciilor oferite</li>
    <li
      >Analiza datelor si intocmirea de rapoarte cu privire la activitatea utilizatorilor pe
      platforma</li
    >
    <li>Apararea drepturilor legitime ale CoT si ale platformei Marity </li>
    <li>Incheierea de contracte comerciale</li>
    <li>Conformarea cu legislatia in vigoare</li>
  </ul>

  <h2>
    <ol start="4" style="list-style-type: upper-roman">
      <li><strong>In ce mod prelucram datele dumneavoastra?</strong></li>
    </ol>
  </h2>

  <ol>
    <li><em>&nbsp;Pentru asigurarea accesului la serviciile oferite</em></li>
  </ol>

  <p
    >Vom colecta datele cu caracter personal pentru a va oferi posibilitatea crearii unui cont in
    platforma Marity.&nbsp; Datele pe care le vom prelucra in acest sens sunt:</p
  >

  <ul>
    <li style="list-style-type: none">
      <ol>
        <li>Consumator (B2C)</li>
      </ol>
    </li>
    <li>Nume si prenume</li>
    <li>Email</li>
    <li>Varsta</li>
    <li>Numar de telefon</li>
  </ul>

  <ul>
    <li style="list-style-type: none">
      <ol start="2">
        <li>Client Business (B2B)</li>
      </ol>
    </li>
    <li>Nume</li>
    <li>Prenume</li>
    <li>Numar de telefon</li>
    <li>Email</li>
    <li>Numele afacerii si datele de identificare si contact.</li>
    <li
      >Numele persoanei juridice care administreaza afacerea si datele de identificare si
      contact.</li
    >
    <li
      >Caracteristici, functionalitati, avantaje, descrieri, fotografii, conditii comerciale si alte
      informatii relevante pentru Consumatori si Vizitatori legate de afacerea ce urmeaza a fi
      publicata in platforma.</li
    >
  </ul>

  <p
    >In cazul in care utilizati pentru crearea unui cont in platforma Marity un cont Google,
    indiferent de categoria de utilizator, este posibil ca noi sa colectam urmatoarele date despre
    dumneavoastra:</p
  >

  <ul>
    <li
      >numele și prenumele, adresa de email și URL-ul către fotografia dvs. de pe profilul
      Google;</li
    >
  </ul>

  <ol start="2">
    <li>Logarea in platforma Marity si aplicatiile Marity Business si Marity 360</li>
  </ol>

  <p
    >Vom colecta datele cu caracter personal de fiecare data cand va veti loga in platforma cu un
    cont creat in prealabil. Datele pe care le vom prelucra in acest sens sunt:
  </p>

  <ul>
    <li>Emailul dumneavoastra</li>
  </ul>

  <p
    >In cazul in care utilizati pentru logare un cont Google, indiferent de categoria de utilizator,
    este posibil ca noi sa colectam urmatoarele date despre dumneavoastra:</p
  >

  <ul>
    <li
      >numele și prenumele, adresa de email și URL-ul către fotografia dvs. de pe profilul
      Google;</li
    >
  </ul>

  <ol start="3">
    <li>Efectuarea de cumparaturi in platforma</li>
  </ol>

  <p
    >Datele cu caracter personal legate de efectuarea cumparaturilor in platforma sunt stocate
    exclusiv de procesatorul de plati acreditat de Marity pentru aceasta activitate. Procesatorul de
    plati detine proprii termeni si propriile conditii de utilizare pe care va invitam sa le
    lecturati accesand
    <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline">link-ul</a>.
  </p>

  <ol start="4">
    <li>Asistenta si suport clienti</li>
  </ol>

  <p
    >Vom colecta datele cu caracter personal de fiecare data cand veti apela la serviciul relatii cu
    clientii. Datele pe care le vom prelucra in acest sens sunt:</p
  >

  <ul>
    <li style="list-style-type: none">
      <ol>
        <li>Consumatori (B2C)</li>
      </ol>
    </li>
    <li>Nume </li>
    <li>Prenume</li>
    <li>Email</li>
    <li
      >Telefon
      <ol start="2">
        <li>Clienti Business (B2B)</li>
      </ol>
    </li>
    <li>Nume </li>
    <li>Prenume</li>
    <li>Email</li>
    <li>Telefon</li>
    <li>Numele afacerii listate</li>
    <li>Numele persoanei juridice care administreaza afacerea</li>
  </ul>

  <ol start="5">
    <li>Marketing comportamental</li>
  </ol>

  <p
    >Vom colecta datele cu caracter personal in vederea stabilirii unor comportamente ale
    utilizatorilor pe platforma si crearea de campanii promotionale in functie de acestea. Datele pe
    care le vom prelucra in acest sens sunt:</p
  >

  <ul>
    <li>Date privind cautarile dumneavoastra si optiunile (filtrele) de cautare folosite</li>
    <li>Date privind paginile vizitate, ordinea vizitarii, si timpul petrecut pe acestea</li>
    <li>Date privind click-urile pe butoane, link-uri, bannere si altele asemenea</li>
    <li>Date privind timpul petrecut in sesiune</li>
    <li
      >Date privind modalitatea prin care ati ajuns pe
      <a href="http://www.marity.ro" style="color: #0563c1; text-decoration: underline"
        >www.marity.ro</a
      ></li
    >
  </ul>

  <ol start="6">
    <li>Audienta si relevanta</li>
  </ol>

  <p
    >Vom colecta datele cu caracter personal in vederea demonstrarii audientei paginilor platformei
    si aplicatiilor mobile. Datele pe care le vom prelucra in acest sens sunt:</p
  >

  <ul>
    <li>Adresa dumneavoastra IP</li>
    <li>Furnizorul dumneavoastra de servicii de internet</li>
    <li>Tara din care accesati pagina de internet</li>
    <li>Regiunea si orasul din care accesati pagina de internet</li>
    <li>Tipul si versiunea browserului pe care il utilizati</li>
    <li>Geolocatia furnizata de browser</li>
    <li>Tipul si versiunea terminalului de pe care accesati pagina de internet</li>
    <li>Sistemul de operare folosit</li>
  </ul>

  <ol start="7">
    <li>Imbunatatirea calitatii si experientei in legatura cu serviciile oferite</li>
  </ol>

  <p
    >Vom colecta datele cu caracter personal in vederea imbunatatirii calitatii serviciilor oferite
    si a experientei in platforma si aplicatiile mobile.&nbsp; Imbunatatirea calitatii serviciilor
    oferite se poate referi la:</p
  >

  <ul>
    <li
      >Continut personalizat in functie de relevanta activitatii in platforma si aplicatiile
      mobile</li
    >
    <li>Stabilirea modalitatii de navigare si crearea de sugestii de imbunatatire</li>
    <li>Colectarea de feedback anonim si recunoscut</li>
    <li>Masurarea nivelului de satisfactie al utilizatorilor</li>
  </ul>

  <p>Datele pe care le vom prelucra in acest sens sunt:</p>

  <ul>
    <li>Toate datele mentionate la punctul II</li>
  </ul>

  <ol start="8">
    <li>Crearea de sugestii altor utilizatori din platforma</li>
  </ol>

  <p
    >Colectam imaginile si piesele scrise furnizate de dumneavoastra in vederea crearii de sugestii
    pentru alti utilizatori din platforma, cu scopul imbunatatirii experientei acestora in platforma
    si aplicatiile mobile. Datele pe care le vom prelucra in acest sens sunt:</p
  >

  <ul>
    <li>Fotografii publicate</li>
    <li>Calendar de evenimente</li>
    <li>Informatii despre campaniile promotionale pe care afacerea listata le desfasoara</li>
  </ul>

  <h2>
    <ol start="5" style="list-style-type: upper-roman">
      <li><strong>Unde si cat timp pastram datele dumneavoastra?</strong> </li>
    </ol>
  </h2>

  <p
    >Marity prelucrează datele dumneavoastra pentru perioada necesară &icirc;ndeplinirii scopurilor
    pentru care acestea au fost colectate și conform politicilor noastre de retenție a datelor
    personale. Cu exceptia unor prevederi legale, care sa ne oblige la pastrarea datelor pentru o
    anumita perioada de timp definita, vom pastra datele dumneavoastra dupa cum urmeaza:
  </p>

  <ul>
    <li
      >Datele colectate intr-o sesiune neinregistrata: 24 de ore, prin stergerea fisierului
      cookie</li
    >
    <li
      >Datele colectate intr-o sesiune inregistrata: Pana la stergerea definitiva a contului si
      solicitarea expresa de stergere a datelor.</li
    >
  </ul>

  <p
    >Dacă va veti dezactiva&nbsp;contul de client și veti solicita &icirc;n mod expres ștergerea
    totală, datele asociate contului tău de client vor fi șterse sau anonimizate astfel
    &icirc;nc&acirc;t să nu mai poata fi identificate &icirc;n sistemele noastre de evidență a
    datelor, except&acirc;nd cazul &icirc;n care suntem obligați să păstrăm datele tale pentru o
    perioadă mai lungă, &icirc;n baza legii sau interesului nostru legitim.</p
  >

  <p
    >Pentru&nbsp;<strong>scopurile</strong>&nbsp;<strong
      >pentru care ne-ati oferit consimțăm&acirc;ntul</strong
    >&nbsp;la prelucrarea datelor, evidențiate la punctul IV, vom prelucra datele dumneavoastra cu
    privire la respectivul scop p&acirc;nă c&acirc;nd va veti retrage consimțăm&acirc;ntul privind
    prelucrarea &icirc;n scopul respectiv, cu excepția cazului &icirc;n care suntem obligați să
    menținem aceste date pentru o perioadă mai lungă potrivit legii, pentru raportări la
    autoritățile publice, sau pentru a ne apăra drepturile &icirc;n justiție.</p
  >

  <h2>
    <ol start="6" style="list-style-type: upper-roman">
      <li><strong>Cu cine impartasim datele dumneavoastra?</strong></li>
    </ol>
  </h2>

  <p>In functie de tipul de utilizator, vom impartasi datele furnizate dupa cum urmeaza:</p>

  <ul>
    <li
      ><strong>Vizitator (neinregistrat)</strong> &ndash; Vom impartasi datele cu afacerile a caror
      pagini le veti vizita de-a lungul unei sesiuni neinregistrate. De asemenea, vom utiliza datele
      furnizate la crearea de statistici si rapoarte cu privire la traficul pe platforma si fluxul
      de click-uri</li
    >
    <li
      ><strong>Consumator (inregistrat)</strong> Vom impartasi datele cu afacerile a caror pagini le
      veti vizita de-a lungul unei sesiuni inregistrate. De asemenea, vom impartasi cu clientii
      business date despre fluxul de click-uri, timpul petrecut pe pagini, activitatea si
      preferintele utilizate, filtrele de cautare, interesele declarate.</li
    >
    <li
      ><strong>Client business (inregistrat)</strong> Vom impartasi datele furnizate cu vizitatorii
      si consumatorii, in masura in care aceasta activitate va conduce la cresterea interactiunii
      intre utilizatori</li
    >
  </ul>

  <p>De asemenea, pentru toate categoriile de utilizatori, vom impartasi datele cu:</p>

  <ul>
    <li>Furnizorul/furnizorii de servicii de stocare tip &ldquo;cloud&rdquo;</li>
    <li
      >Procesatorul/procesatorii de servicii de plati autorizati sa intermedieze plati pe platforma
      si in aplicatiile mobile</li
    >
    <li
      >Agentiei/agentiilor de publicitate autorizate de noi pentru segmentarea si profilarea
      clientilor si utilizatorilor, in vederea construirii campaniilor de marketing.
    </li>
  </ul>

  <h2>
    <ol start="7" style="list-style-type: upper-roman">
      <li><strong>Cum asiguram securitatea datelor dumneavoastra?</strong></li>
    </ol>
  </h2>

  <p
    >CoT depune eforturi sustinute in vederea asigurarii unui nivel de securitate optim pentru
    datele colectate de la utilizatorii Marity. &Icirc;n plus, depunem toate eforturile rezonabile
    pentru a ne asigura (inclusiv prin contractele &icirc;ncheiate cu aceștia) că și parteneri
    noștri de &icirc;ncredere gestionează măsuri tehnice și organizatorice adecvate pentru
    prelucrarea datelor pe care le &icirc;mpărtășim cu aceștia.</p
  >
  <h2>
    <ol start="8" style="list-style-type: upper-roman">
      <li><strong>Care sunt drepturile dumneavoastra?</strong></li>
    </ol>
  </h2>

  <p
    ><strong>Dreptul de a solicita acces</strong> la datele dumneavoastră cu caracter personal
    (denumit &icirc;n mod obișnuit &ldquo;solicitarea de acces a persoanei vizate&rdquo;). Acesta vă
    dă posibilitatea de a primi o copie a datelor cu caracter personal deținute de noi referitoare
    la persoana dvs. și de a verifica dacă prelucrarea este efectuată de noi &icirc;n mod legal.</p
  >

  <p
    ><strong>Dreptul de a solicita rectificarea datelor</strong> pe care le deținem referitoare la
    persoana dvs. Acesta vă dă posibilitatea de a obține rectificarea oricăror date incomplete sau
    inexacte deținute de noi referitoare la persoana dvs., deși este posibil să fie necesară o
    verificare a corectitudinii noilor date pe care ni le furnizați.</p
  >

  <p
    ><strong>Dreptul de a solicita restricționarea prelucrării datelor dumneavoastră</strong> cu
    caracter personal. Acesta vă dă posibilitatea de a ne solicita suspendarea prelucrării datelor
    dumneavoastră cu caracter personal &icirc;n următoarele situații:
  </p>

  <p>(a) &icirc;n cazul &icirc;n care doriți să stabiliți corectitudinea datelor; </p>

  <p
    >(b) &icirc;n situația &icirc;n care considerați că utilizarea datelor de către noi este
    nelegală;
  </p>

  <p
    >(c) &icirc;n situația &icirc;n care ne solicitați să păstrăm datele chiar dacă noi nu mai avem
    nevoie de acestea &icirc;n vederea constatării, exercitării sau apărării unui drept &icirc;n
    justiție; sau
  </p>

  <p
    >(d) &icirc;n situația &icirc;n care v-ați opus utilizării de către noi a datelor dvs.
    &icirc;nsă noi trebuie să verificăm dacă avem temeiuri legitime prevalente pentru utilizarea
    acestora.</p
  >

  <p
    ><strong>Dreptul de a solicita ștergerea datelor dumneavoastră</strong> cu caracter personal
    .Acesta vă dă posibilitatea de a ne solicita ștergerea sau eliminarea datelor cu caracter
    personal &icirc;n cazul &icirc;n care nu există temeiuri justificate pentru prelucrarea &icirc;n
    continuare de către noi a acestora. Beneficiați de asemenea de dreptul de a ne solicita
    ștergerea sau eliminarea datelor dumneavoastră cu caracter personal &icirc;n cazul &icirc;n care
    v-ați exercitat cu succes dreptul de a vă opune prelucrării (a se vedea mai jos), &icirc;n care
    este posibil să fi procesat informațiile privind persoana dvs. &icirc;n mod ilegal sau &icirc;n
    care ni se impune ștergerea datelor dumneavoastră cu caracter personal pentru a ne conforma cu
    legislația locală. Vă rugăm să aveți &icirc;n vedere faptul că, &icirc;n legătură cu anumite
    scopuri, este posibil să fim obligați prin lege să reținem datele dvs..
  </p>

  <p
    ><strong>Dreptul de a vă opune prelucrării datelor dumneavoastră</strong> cu caracter personal
    &icirc;n momentul &icirc;n care noi ne prevalăm de un interes legitim (sau de interese legitime
    ale unui terț) și există anumite elemente referitoare la situația dvs. particulară care vă
    determină să doriți să vă opuneți prelucrării &icirc;n baza acestui temei deoarece considerați
    că aceasta are impact asupra drepturilor și libertăților dvs. fundamentale. &Icirc;n unele
    cazuri, este posibil să demonstrăm că avem temeiuri legale convingătoare pentru prelucrarea
    informațiilor privind persoana dvs. care prevalează asupra drepturilor și libertăților dvs.
    Beneficiați de asemenea de dreptul de a vă opune &icirc;n cazul &icirc;n care prelucrarea
    datelor dumneavoastră cu caracter personal se efectuează &icirc;n scopuri de marketing direct.
    Vă puteți exercita dreptul de a vă opune &icirc;n următoarele modalități, &icirc;n funcție de
    activitatea de prelucrare pe care doriți să o &icirc;ncetăm.</p
  >
  <h2>
    <ol start="9" style="list-style-type: upper-roman">
      <li><strong>Autoritatea pentru protectia datelor</strong></li>
    </ol>
  </h2>

  <p
    >&Icirc;n ceea ce privește pl&acirc;ngerile referitoare la protecția datelor, puteți contacta
    Autoritatea responsabilă de Protecția Datelor. Vă puteți exercita acest drept contact&acirc;nd
    autoritatea de la domiciliul sau de la locul dvs. de muncă ori de la adresa operatorului de
    date.</p
  >

  <p
    >&Icirc;n ceea ce privește Rom&acirc;nia, Autoritatea competentă pentru Protecția Datelor este:
    Autoritatea Națională pentru Protecția Datelor, cu sediul &icirc;n: b-dul. Magheru, nr. 28-30,
    sector 1, București, website:
    <a href="http://www.dataprotection.ro/" style="color: #0563c1; text-decoration: underline"
      >http://www.dataprotection.ro/</a
    ></p
  >
</div>
