.main {
  display: flex;
  justify-content: center;

  .mat-mdc-form-field-wrapper {
    padding-bottom: 10px;
  }

  .mat-mdc-form-field-underline {
    display: none;
  }
}

.mat-mdc-form-field {
  letter-spacing: normal;
}

.search-bar {
  div {
    animation: none !important;
  }
  .mat-mdc-text-field-wrapper {
    background: none !important;
  }

  .mat-mdc-form-field-focus-overlay {
    background: none !important;
  }
  .mdc-line-ripple {
    display: none !important;
  }

  .mat-mdc-input-element:disabled {
    color: black;
  }
}

.search-form-modal {
  @include media-breakpoint-up(md) {
    width: unset;
  }

  .mat-mdc-dialog-content {
    max-height: 95vh;
  }

  .mat-stepper-vertical {
    background-color: unset;
  }

  .mat-vertical-content-container {
    margin-left: 0;

    .mat-mdc-form-field {
      width: 100%;

      input {
        font-size: 16px;
      }
    }
  }

  .mat-step {
    margin-bottom: 12px;
    background-color: $white;
  }

  .mat-step-header {
    border: 1px solid #e5e5ea;
    border-radius: 8px;
  }

  .mat-step:first-child .mat-step-header[aria-selected="true"] {
    border: none;
    padding-left: 0;
    background-color: unset;
  }

  .mat-step:last-child .mat-step-header[aria-selected="true"] {
    border-color: $primary-color;
  }

  .location-step {
    .mat-mdc-form-field {
      width: 100%;
    }
  }

  .mat-step-header,
  .mat-step-label,
  .mat-step-label-selected {
    @include heading-2;
  }

  .mat-step-icon,
  .mat-stepper-vertical-line::before {
    display: none;
  }

  .mat-step-label,
  .mat-step-label.mat-step-label-active.mat-step-label-selected {
    width: 100%;
    @include heading-2;

    .mat-step-text-label {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

    .input-value {
      @include heading-4;
      align-self: center;
    }
  }

  .mat-step:first-child .mat-vertical-content {
    padding: 0 0 24px;
  }

  .mat-step:last-child .mat-vertical-content {
    padding: 0px 0px 24px 0px;
  }

  .mat-mdc-card {
    margin-bottom: 24px;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0);

    @include media-breakpoint-up(md) {
      // width: 300px;
      margin: auto;
    }

    .mat-calendar {
      .mat-calendar-table-header th {
        font-weight: 500;
      }
      .mat-calendar-body-cell-content {
        color: black;
        font-weight: 500;
      }
      .mat-calendar-body-selected {
        color: white;
      }
    }
  }

  #dateTypeBtnGroup {
    .mat-toggle-group,
    .mat-button-toggle-group,
    .mat-button-toggle {
      background-color: #f2f2f2;
      border-radius: 25px;
      height: 32px;
      font-size: 12px;
    }

    // .mat-button-toggle {
    //     opacity: 30%;
    // }
    .mat-button-toggle.mat-button-toggle-checked {
      background-color: white;
      border-radius: 25px;
      height: 32px;
      opacity: 100%;
    }
    .mat-button-toggle-label-content {
      height: 32px;
      size: 12px;
      line-height: 32px;
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
      border-left: 0;
    }
  }

  .flexible-date-option {
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 16px;

    &__heading {
      @include heading-4;
      margin-bottom: 8px;
    }

    .carousel-container {
      @include carousel-container();
      border: none;
      margin-bottom: 8px;

      @include media-breakpoint-up(md) {
        max-width: 470px;
      }
    }
  }

  .mat-mdc-dialog-container {
    background: linear-gradient(168.05deg, #ff2c62 -0.61%, #724c9b 44.98%);

    @include media-breakpoint-up(md) {
      width: 40vw;
      height: 90vh;
      margin-top: 5vh;
      margin: auto;
    }
  }
}

.custom-calendar {
  .mat-bottom-sheet-container {
    @media only screen and (max-width: $max-width-for-tablet) and (min-width: 400px) {
      min-width: 400px;
    }
  }
}

.carousel-container {
  @include carousel-container();
  border: none;
  margin-bottom: 8px;
  .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: 0;
  }
  .mat-button-toggle {
    border: 1px solid #e5e5ea;
    border-radius: 35px;
    padding: 5px 16px;
    // opacity: 50%;
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 21px;
    font-size: 12px;
  }

  .mat-button-toggle-checked.mat-mdc-button-toggle-appearance-standard {
    color: white;
    background-color: black;
    opacity: 100%;
  }
}

.bottom-buttons {
  padding: 22px 16px;
  border-top: 1px solid #724c9b9c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.mat-bottom-sheet-container {
  max-height: 90vh !important;
  height: 90vh;
  border-radius: 16px 16px 0 0;
  padding: 8px 24px 50px !important ;

  .bottom-buttons {
    padding: 22px 16px 24px;
    font-size: 18px;
    font-weight: 500;
  }
}

.location-type {
  .mat-mdc-checkbox {
    width: 100%;
  }

  .mat-mdc-checkbox-layout {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 10px 0;
    @include heading-4;
    font-weight: 400 !important;

    @include media-breakpoint-up(md) {
      @include heading-4;
      margin: 7px 0;
      font-weight: 400 !important;
    }
  }
}

.mat-mdc-checkbox-checked.mat-accent .mat-mdc-checkbox-background {
  border: 2px solid black;
  background-color: transparent;

  .mat-mdc-checkbox-checkmark-path {
    stroke: black !important;
    stroke-width: 3px;
  }
}

.mat-mdc-unelevated-button.mat-accent {
  min-width: 125px;
  height: 52px;
  border-radius: 8px;
}

.mat-mdc-button.simple-link {
  padding: 0;
  text-decoration: underline;
}

.facilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .facility-card {
    margin: 8px;
    width: 45%;
    display: flex;
  }

  .mat-mdc-checkbox-inner-container {
    display: none;
  }

  .mat-mdc-checkbox {
    height: 96px;
    width: 155px;
    padding: 20px 45px;
    border-radius: 16px;
    border: 1px solid #e5e5ea;
    align-self: center;
  }

  .mat-mdc-checkbox-checked {
    background-color: #f2f2f2;
    border: 1px solid black;
  }

  .mat-mdc-checkbox-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    @include heading-4;
  }
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-drawer-side {
  border-right: none;
}

.mat-drawer-content {
  @include media-breakpoint-up(md) {
  }
}

.location {
  width: 100%;
  padding: 8px !important;

  .mat-mdc-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;

    .location__icon {
      border-radius: 16px;
      background-color: #f2f2f2;
      width: 48px;
      height: 48px;
      padding: 12px;
      margin-right: 12px;
    }
  }
}
