.home {
  height: 525px;
  background-color: rgb(88, 64, 115, 0.8);
}
.wrapper {
  height: 525px;
  background-image: url("../../../../assets/Home/homeBackgroundIMG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  opacity: 100%;
  color: white;
  letter-spacing: 0.2rem;
  padding-top: 38px;
}
.sub-title {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.spaceing-title {
  padding-bottom: 28px;
}
.spacing-subtitle {
  padding-bottom: 14px;
}
.subtitle-color {
  white-space: pre;
  color: #ff5c88;
}
