@import "/src/sass/variables";

:host {
  display: block;
}

.checkbox-box {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  border-radius: $--main--border-radius-button;
  background: $white;

  .checkbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .checkbox-field {
      ::ng-deep .mdc-checkbox__background {
        border-radius: 70% !important;
      }
    }

    ::ng-deep .tos-link {
      color: $link-color;
      font-family: "SF Pro Display";
      font-size: $font-size-3;
      font-style: normal;
      font-weight: 500;
      line-height: $line-height-3;
    }
  }
}
