@import "src/sass/variables";

:host {
  display: block;
}

.component-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  height: 56px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: $white;

  .close-button {
    cursor: pointer;
  }
}
