<div class="bd-wrap">
  <div class="container">
    <div class="breadcrumb">
      <a class="active" href="#">
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">Planifica in cativa pasi:</span>
          <span class="breadcrumb__desc">Incepe Acum</span>
        </span>
      </a>
      <a href="#">
        <span class="breadcrumb__inner">
          <span class="breadcrumb__desc">Alege localitatea</span>
        </span>
      </a>
      <a href="#">
        <span class="breadcrumb__inner">
          <span class="breadcrumb__desc">Selecteaza data fixa sau flexibila</span>
        </span>
      </a>
      <a href="#">
        <span class="breadcrumb__inner">
          <span class="breadcrumb__desc">Gasete furnizorii preferati</span>
        </span>
      </a>
      <a href="#">
        <span class="breadcrumb__inner">
          <span class="breadcrumb__desc">Verifica calendarul</span>
        </span>
      </a>
      <a href="#">
        <span class="breadcrumb__inner">
          <span class="breadcrumb__desc">Cere oferta!</span>
        </span>
      </a>
    </div>
  </div>
</div>
