<div class="cookie-container">
  <h1>Politica fisierelor de tip cookie si tehnologii similare</h1>
  <br /><br />
  Ce sunt fișierele de tip "cookies"? Fișierele de tip "cookies" sunt mici fișiere care conțin
  litere și cifre și pot fi plasate pe dispozitivul dvs. când vizitați un website sau utilizați o
  aplicație. Le folosim pentru a îmbunătăți experiența dvs. cu Serviciile noastre, reținând
  preferințele dvs. Aceasta este o modalitate de a reține preferințele dvs. Fără "cookies",
  experiența cu Serviciile noastre ar fi mai puțin prietenoasă. Motive pentru care utilizăm
  "cookies":
  <br /><br />
  Le folosim pentru gestionarea preferințelor, securitate, analize și afișarea anunțurilor
  relevante. Acestea ne ajută să vă oferim o experiență mai bună în calitate de utilizator.
  <br /><br />
  Folosim "cookies" pentru:
  <br /><br />
  1. Gestionarea preferințelor și îmbunătățirea funcționalităților.
  <br /><br />
  2. Sprijinirea securității și detectarea activităților frauduloase.
  <br /><br />
  3. Analizarea utilizării Serviciilor noastre pentru îmbunătățirea lor.
  <br /><br />
  4. Transmiterea de mesaje publicitare relevante.
  <br /><br />
  Tipuri de "cookies" și tehnologii:
  <br /><br />
  • Cookie-uri de Sesiune - Un „cookie de sesiune” este un cookie valabil 24 de ore de la o
  inceperea unei sesiuni neinregistrate.
  <br /><br />
  • Cookie-uri Persistente - Un „cookie persistent” este un cookie care rămâne stocat în terminalul
  utilizatorului până când atinge o anumită dată de expirare (care poate fi în câteva minute, zile
  sau câțiva ani în viitor).
  <br /><br />
  Mai multe informații sunt disponibile la www.allaboutcookies.org.
  <br /><br />
  Cum puteți gestiona "cookies"? În setările browserului dvs., puteți șterge, dezactiva sau bloca
  "cookies".
  <br /><br />
  Aveți control asupra plugin-urilor sau dispozitivelor terțelor părți conectate la serverele
  acestora. Vă rugăm să țineți cont că refuzul "cookies" va conduce la limitarea accesului la
  Marity.
  <br /><br />
  Ce puteți face pentru a șterge, dezactiva sau bloca "cookies"? În cadrul Serviciilor noastre,
  puteți administra permisiunile fisierelor de tip cookie. Când accesați funcția de administrator a
  preferințelor, puteți aproba si respinge tipurile de cookie disponibile. În cazul în care ștergeți
  fisierul "cookie", setările dumneavoastra vor fi pierdute.
  <br /><br />
  Dacă doriți să dezactivați "cookies", browserul vă poate furniza informații despre cum să faceți
  acest lucru
  <br /><br />
  Prin dezactivarea cookie-urilor se înțelege blocarea/oprirea scrierii sau citirii de informații în
  sesiunea de cookie. Dezactivarea cookie-urilor poate duce la funcționalitate defectuoasă atât a
  site-ului www.chroot.ro cât și a altor site-uri. Orice navigator (browser) web oferă posibilitatea
  dezactivării cookie-urilor. Pentru mai multe detalii despre cum puteți face acest lucru, accesați
  următoarele link-uri în funcție de navigatorul pe care îl utilizați:
  <br /><br />
  Administrarea preferințelor de Cookie în Microsoft Edge Administrarea preferințelor de Cookie în
  Mozilla Firefox Administrarea preferințelor de Cookie în Google Chrome Administrarea preferințelor
  de Cookie în Safari
</div>
