<div class="backgound-div">
  <!-- <form class="search-container">
        <div class="search-div">
            <img class="search-img" src="../../../../assets/Home/searchIcon.svg" alt="Icon">
            <input class="search-input" type="text" placeholder="Ce anume cauti?">
        </div>
    </form> -->
  <div class="wrapper home-background">
    <div class="home home-background">
      <div class="start-title-container">
        <div class="start-title">Planifica-ti </div>
        <div class="start-title">nunta de vis cu Marity</div>
        <button class="start-button">Incepe Acum</button>
      </div>
    </div>
  </div>
</div>
