@import "src/sass/_variables";

.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  background: $white;
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 9;
  transition: 0.6s;

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
